.fade-transition {
  transition: opacity 0.3s ease;
}
.fade-enter, .fade-leave {
  opacity: 0;
}

.height-transition {
  transition: height 0.3s ease;
}
.height-enter, .height-leave {
  height: 0;
}

.toast-transition {
  transition: margin-bottom 0.2s ease;
}
.toast-enter, .toast-leave {
  margin-bottom: -40px
}
